* {
    font-family: 'Poppins', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    padding: 0;
    margin: 0;
}

/* TOPBAR */

#topbar {
    height: 80px;
    width: 100%;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

#search-text {
    width: 170px;
    transition: all .3s ease-in-out;
    border-radius: 50px;
    height: 25px;
    padding: 5px 20px;
    opacity: .4;
}

#topbar:hover #search-text {
    width: 350px;
    transition: width .3s ease-in-out;
}

#search-text:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}

#search-text:focus-visible {
    width: 350px;
    opacity: 1;
}

/* BUTTONS */

button,
input[type=submit] {
    padding: 10px 15px;
    border-radius: 50%;
    opacity: .4;
    transition: all .3s ease-in-out;
    background-color: bisque;
}

button:hover,
input[type=submit]:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

button:active,
input[type=submit]:active {
    background-color: aqua;
    transition: background-color .3s ease-in-out;
}

.btn,
#input-btns button {
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: solid 2px #aeaeae;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#input-btns button {
    height: 40px;
}

.btn:hover,
#input-btns button:hover {
    background-color: #dbdbdb;
}

.btn:active,
#input-btns button:active {
    background-color: #aeaeae;
}

#delete-btn {
    background-color: #c63434 !important;
    border: solid 2px #b20606;
    color: white;
}

#delete-btn:hover {
    background-color: #b63030 !important;
}

#delete-btn:active {
    background-color: #b20606 !important;
}

#input-submit {
    background-color: #34c640 !important;
    border: solid 2px #06b237 !important;
    color: white;
}

#input-submit:hover {
    background-color: #30b63d !important;
}

#input-submit:active {
    background-color: #30b63d !important;
}

/* INPUT FORM */

dialog {
    border: solid 2px #c8c8c8;
    border-radius: 25px;
}

#input-close {
    margin-left: 850px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#user-input form {
    display: grid;
    grid-template-columns: 350px 250px 250px;
    grid-template-rows: repeat(4, 50px) 200px 50px;
    gap: 15px;
}

#container-title,
#container-author,
#container-sinopsis,
#input-btns {
    grid-column-start: 2;
    grid-column-end: 4;
}

#user-input img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 6;
}

#img-input,
#input-btns {
    grid-row-start: 6;
    grid-row-end: 7;
}

#img-input {
    display: flex;
    align-items: center !important;
}

#img-input input {
    position: relative;
    height: 70%;
    font-size: 16px;
}

#user-input .input,
#book-sinopsis {
    background-color: #f2f2f2;
    border: solid 2px #c8c8c8;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: text;
    position: relative;
}

#user-input .input:hover,
#book-sinopsis:hover {
    background-color: #d6d6d6;
}

#user-input .input:focus-within,
#book-sinopsis:focus-visible {
    outline-offset: 0px;
    outline: -webkit-focus-ring-color auto 1px;
}

#book-release,
#book-length,
#book-progress,
.input span {
    opacity: 0;
    transition: all .3s ease-in-out;
}

input {
    padding: 0 5px;
}

input:focus-visible {
    outline: none;
}

.input input {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    width: 95%;
    margin: 0 5px;
    position: absolute;
    bottom: 0px;
}

input[name="book-progress"] {
    width: 75%;
}

#book-progress ~ span {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.input label {
    transition: all .3s ease-in-out;
    position: absolute;
    width: 95%;
    font-size: 20px;
    margin: 10px 10px;
    cursor: text;
}

input:focus + label,
.filled + label {
    font-size: 15px;
    cursor: default;
    margin-top: 1px;
}

#book-release:focus,
#book-length:focus,
#book-progress:focus,
#book-progress:focus ~ span,
.filled ~ span,
.filled {
    opacity: 1 !important;
}

input:autofill,
input:-internal-autofill-selected {
    background-color: rgba(0, 0, 0, 0) !important;
}

#rate-input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 8px;
}

#book-sinopsis {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
}

#input-btns {
    display: flex;
    justify-content: right;
    gap: 20px;
}

/* DISPLAY */

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: calc(100% - 30px);
    padding: 15px;
}

/* CARD */

.card {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 120px calc(100% - 120px);
    grid-template-rows: 30% 15% 20% 35%;
    background: white;
    border: solid 1px #c8c8c8;
    border-radius: 25px;
}

.card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 20px 20px;
}

.card h2 {
    margin: 15px 10px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .author,
.card .rate,
.card .progress {
    margin: 0 10px;
}

.card .buttons {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}

progress {
    border-radius: 7px; 
    width: 55%;
    height: 22px;
}
progress::-webkit-progress-bar {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: solid 2px #dbdbdb;
}
progress::-webkit-progress-value {
    background-color: #c63434;
    border-radius: 10px;
}

.card .rating {
    align-self: center;
    justify-self: center;
}

.card .rating i {
    margin: 0 5px;
    font-size: 20px;
    color: #c8c8c8;
}

.card .rating .fa-solid {
    color: aqua;
}